body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    height: 100vh; /* Pastikan halaman memenuhi tinggi layar */
    margin: 0;
}


.input-container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    position: relative; 
    margin-bottom: 15px; 
    width: 100%; }

.input-container input { 
    width: 100%; 
    padding: 12px; 
    margin: 5px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

input[type="text"], input[type="password"] { 
    width: 90%; 
    padding: 12px; 
    margin: 5px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

.password-container { 
    position: relative; 
    width: 100%; 
}

#show-password { 
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer; 
}

button { 
    width: 100%; 
    padding: 12px; 
    background-color: #28a745; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    font-size: 16px; 
}

button:hover { 
    background-color: #218838; 
}

main {
    margin-top: -100px; /* Geser lebih ke atas */
    padding-bottom: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Buat konten naik ke atas */
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.sidebar {
    height: 100vh; /* Pastikan sidebar membentang hingga bawah */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    width: 250px; /* Sesuaikan lebar */
    overflow-y: auto; /* Tambahkan scrolling jika kontennya panjang */
}